@import "./fonts.css";
@import "./theme.css";

:where(:not(html, iframe, canvas, img, svg, video, audio, svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Concourse", sans-serif;
  background-color: var(--base);
  color: var(--text);
}

a,
button {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol,
menu {
  list-style: none;
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:root {
  --page-width: 36rem;
  font-size: 20px;
  scrollbar-color: var(--surface-2) var(--crust);
}

::selection {
  background-color: var(--blue);
  color: var(--base);
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
}

div[class*="language-"] {
  & > .copy {
    display: none;
  }

  & > .lang {
    display: none;
  }

  & > code {
  }
}

.vp-code span {
  color: var(--shiki-light, inherit);
  font-style: var(--shiki-light-font-style, inherit);
}

.dark .vp-code span {
  color: var(--shiki-dark, inherit);
  font-style: var(--shiki-dark-font-style, inherit);
}
