@import "./fonts.css";
@import "./theme.css";

:where(html, body, a, button, input) {
  all: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Concourse", sans-serif;
  background-color: var(--base);
  color: var(--text);
}

a,
button {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol,
menu {
  list-style: none;
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:root {
  --page-width: 36rem;
  font-size: 20px;
  scrollbar-color: var(--surface-2) var(--crust);
}

::selection {
  background-color: var(--blue);
  color: var(--base);
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
}

code {
  font-family: "Cascadia Code";
  font-size: 0.8rem; /* 16px */
}

div[class*="language-"] {
  position: relative;
  background-color: var(--mantle);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem -1rem 1rem -1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--crust);
}

div[class*="language-"] > button {
  position: absolute;
  display: grid;
  place-content: center;
  height: 1.5rem;
  width: 1.5rem;
  right: 0.5em;
  top: 0.5em;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

div[class*="language-"] > button:hover {
  background-color: var(--base);
  border-color: var(--crust);
}

div[class*="language-"] > button:active {
  background-color: var(--surface-0);
  border-color: var(--crust);
}

div[class*="language-"] > button:focus-visible {
  outline: 2px solid var(--blue);
}

/**
 * Note:
 * Shiki adds tabindex=0 to <pre> in order to meet accessibility success
 * criteria that scrollable overflowing elements must be focusable.
 */
div[class*="language-"]:has(.shiki:focus-visible) {
  outline: 2px solid var(--blue);
}

.shiki:focus-visible {
  outline: none;
}

div[class*="language-"] > button::before {
  display: block;
  width: 1rem;
  height: 1rem;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(172, 176, 190)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
}

.dark div[class*="language-"] > button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(98, 104, 128)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
}

.lang {
  display: none;
}

.vp-code span {
  color: var(--shiki-light, inherit);
  font-style: var(--shiki-light-font-style, inherit);
}

.dark .vp-code span {
  color: var(--shiki-dark, inherit);
  font-style: var(--shiki-dark-font-style, inherit);
}
