@import "@fontsource/cascadia-code";

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_2_thin.woff2") format(woff2);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_3_book.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_4_medium.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_6_semibold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_7_bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_8_black.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_2_thin_italic.woff2") format(woff2);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_3_book_italic.woff2") format(woff2);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_4_medium_italic.woff2") format(woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_6_semibold_italic.woff2") format(woff2);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_7_bold_italic.woff2") format(woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Concourse";
  src: url("../fonts/concourse_ot_8_black_italic.woff2") format(woff2);
  font-weight: 800;
  font-style: italic;
}
